<div class="container" style="text-align: center; margin-top: 300px;">
  <h1>Welcome to Steamy Stats</h1>
  <h4>Find out how the time you've spent playing games on Steam translates to other things you could've done in the same timeframe.</h4>
  <%= simple_form_for :steam_id, url: steamrequest_path do |f| %>
    <%= f.input :steam_id, label: "Steam ID" %>
    <%= f.submit "Mock Me" %>
  <% end %>
</div>