<div class="container" style="text-align: center; margin-top: 350px;">
  <h2>We do not keep any of the data you have entered and therefore going back and forth or refreshing will not work due to the way the application is made.</h2>
  <h4 style="margin-top: 30px;">Please <%= link_to "go back", root_path  %> to the main page and enter the Steam ID you wish to check again.</h4>
</div>